
.main{
  padding: 0 50px;
  margin-top: 30px;
}

ion-button{
  margin-bottom: 20px;
  font-size: 20px;
}

ion-icon{
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
  margin-right: 10px;
}

.submit {
  padding-top: 50px;
}

