.padding {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.padding-sm {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.bold {
    font-weight: bold;
}
